.content1{
    background-color: aliceblue;
    text-align: center;
    font-family: 'Raleway';
    height: 30vh;
    margin: auto;
    padding: 70px 0;
}

.content-heading{
    color: black;
    margin-bottom: 2rem;
}

.content-p{
    color: black;
    text-align: center;
}